<canvas class="snow snowNote"></canvas>
<div class="navigation">
    <div class="lines">
        <div id="menuBut" ng-click="openMenu()">
            <div id="menuBut1"></div>
            <div id="menuBut2"></div>
            <div id="menuBut3"></div>
        </div>
    </div>
    <div id="blocks" class="blockes">
        <div id="das" class="elem"><a href="#!/dashboard"><div class="navOverlay"><img src="./img/logo-black.png" alt=""></div></a></div>
        <div id="trai" class="elem"><a href="#!/training"><div class="navOverlay"><i class="material-icons md-48">fitness_center</i></div></a></div>
        <div id="not" class="elem"><a href="#!/note"><div class="navOverlay"><i class="material-icons md-48">format_list_numbered</i></div></a></div>
        <div id="foo" class="elem"><a href="#!/food"><div class="navOverlay shine"><i class="material-icons">restaurant</i></div></a></div>
        <div id="wat" class="elem"><a href="#!/water"><div class="navOverlay"><i class="material-icons md-dark md-inactive">local_drink</i></div></a></div>
        <div id="slee" class="elem"><a href="#!/health"><div class="navOverlay"><i class="material-icons md-dark md-inactive">local_hotel</i></div></a></div>
        <div id="set" class="elem"><a href="#!/settings"><div class="navOverlay"><i class="material-icons md-48">settings</i></div></a></div>
    </div>
</div>
<div class="note">
    <div class="overlayNote">
        <div class="wrapper">
            <div class="headline">
        <div class="lineNote"></div>
        <div class="nameNote"><i class="material-icons md-48">format_list_numbered</i><h1>Planner</h1></div></div>
        <div class="container">
            <div class="col-12 col-md-3">
                <div class="onenote">
                <h3>Monday</h3>
                <textarea name="" id="noteOne" cols="20" rows="10" >{{note.noteM}}</textarea>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="onenote">
                <h3>Tuesday</h3>
                <textarea name="" id="noteTwo" cols="20" rows="10" >{{note.noteTue}}</textarea>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="onenote">
                <h3>Wednesday</h3>
                <textarea name="" id="noteThree" cols="20" rows="10" >{{note.noteW}}</textarea>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="onenote">
                <h3>Thursday</h3>
                <textarea name="" id="noteFour" cols="20" rows="10" >{{note.noteTh}}</textarea>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="onenote">
                <h3>Friday</h3>
                <textarea name="" id="noteFive" cols="20" rows="10" >{{note.noteFr}}</textarea>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="onenote">
                <h3>Saturday</h3>
                <textarea name="" id="noteSix" cols="20" rows="10" >{{note.noteSat}}</textarea>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="onenote">
                <h3>Sunday</h3>
                <textarea name="" id="noteSeven" cols="20" rows="10" >{{note.noteSun}}</textarea>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="onenote">
                <h3>Additional notes</h3>
                    <textarea name="" id="noteEight" cols="20" rows="10" >{{note.noteAd}}</textarea>
            </div>
            </div>
        </div>
        </div>
        </div>
</div>

<div class="helpNote"><button ng-click="showHelp()">?</button></div>

<div id="helpNotePage" class="helpOverlay" ng-click="hideHelp()">
    <div class="helpSign" style="color: rgb(200, 185, 0);">
        <h3>#HelpNote</h3>
        <p>It`s very simple and convenient note, where you can safely write all your daily tasks.</p>
    </div>
</div>