<canvas class="snow snowFood"></canvas>
<div class="navigation">
    <div class="lines">
        <div id="menuBut" ng-click="openMenu()">
            <div id="menuBut1"></div>
            <div id="menuBut2"></div>
            <div id="menuBut3"></div>
        </div>
    </div>
    <div id="blocks" class="blockes">
        <div id="das" class="elem"><a href="#!/dashboard"><div class="navOverlay"><img src="./img/logo-black.png" alt=""></div></a></div>
        <div id="trai" class="elem"><a href="#!/training"><div class="navOverlay"><i class="material-icons md-48">fitness_center</i></div></a></div>
        <div id="not" class="elem"><a href="#!/note"><div class="navOverlay"><i class="material-icons md-48">format_list_numbered</i></div></a></div>
        <div id="foo" class="elem"><a href="#!/food"><div class="navOverlay shine"><i class="material-icons">restaurant</i></div></a></div>
        <div id="wat" class="elem"><a href="#!/water"><div class="navOverlay"><i class="material-icons md-dark md-inactive">local_drink</i></div></a></div>
        <div id="slee" class="elem"><a href="#!/health"><div class="navOverlay"><i class="material-icons md-dark md-inactive">local_hotel</i></div></a></div>
        <div id="set" class="elem"><a href="#!/settings"><div class="navOverlay"><i class="material-icons md-48">settings</i></div></a></div>
    </div>
</div>
<div class="food">
    <div class="overlayFood">
        <div class="headline">
            <div class="lineFood"></div>
            <div class = "nameFood"><i class="material-icons">restaurant</i><h1>Nutrition</h1></div>
        </div>
        <div class="container">

                <div class="row">
                    <div class="col-10 col-md-5">
                        <div class="barsFood">
                        <div id="calories" class="ldBar" data-stroke="rgb(244, 67, 54)" data-value="0"data-stroke-width="8" style="width:100%;height:60px"></div>
                        <div id="fats" class="ldBar" data-stroke="rgb(255, 235, 59)" data-value="0"data-stroke-width="8" style="width:100%;height:60px"></div>
                        <div id="protein" class="ldBar" data-stroke="rgb(33, 150, 243)" data-value="0"data-stroke-width="8" style="width:100%;height:60px"></div>
                        <div id="carbs" class="ldBar" data-stroke="rgb(156, 39, 176)" data-value="0" data-stroke-width="8" style="width:100%;height:60px" ></div>
                    </div>
                        <div class="barsFoodNames">
                            <div><p>Calories</p></div>
                            <div><p>Fats</p></div>
                            <div><p>Protein</p></div>
                            <div><p>Carbohydr.</p></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="dishes">
                            <button ng-click="addChicken()">Chicken <br>Parmesan <br>Salad</button>
                            <button ng-click="addSoup()">Mushroom <br>Cream <br>Soup</button>
                            <button ng-click="addBeef()">Beef <br>Wellington</button>
                            <button ng-click="addTarte()">Tarte <br>Tatin</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="tips tipsFood" >
                        <div id="tipOne" class="tip tipFood tipActive">
                            <h3>Tip</h3>
                            <p>Breakfast is the most important meal of the day, so don't skip it.</p>
                        </div>
                        <div id="tipTwo" class="tip tipFood">
                            <h3>Did you know...</h3>
                            <p>It takes 20 minutes for your brain to know that your stomach is full, so stop eating before you feel full.</p>
                        </div>
                        <div id="tipThree" class="tip tipFood">
                            <h3>Tip</h3>
                            <p>While hydrated, your skin looks radiant!</p>
                        </div>
                        <div id="tipFour" class="tip tipFood">
                            <h3>Fact:</h3>
                            <p>Eating nuts helps accelerate your brain activity.</p>
                        </div>
                        <div id="tipFive" class="tip tipFood">
                            <h3>Tip</h3>
                            <p>Fats in milk products, meat and fish help your body build healthy nerves and fight off disease.</p>
                        </div>
                        <div id="tipSix" class="tip tipFood">
                            <h3>Fact:</h3>
                            <p>One can of soda contains 10 teaspoons of sugar.</p>
                        </div>
                        <div id="tipSeven" class="tip tipFood">
                            <h3>Tip</h3>
                            <p>Bake or roast food instead of grilling or frying.</p>
                        </div>
                    </div>
                </div>
        </div>

        <div class="helpFood"><button ng-click="showHelp()">?</button></div>


    </div>
    </div>
</div>

<div id="helpFoodPage" class="helpOverlay" ng-click="hideHelp()">
    <div class="helpSign tipFood" >
        <h3>#HelpHydration</h3>
        <p>The usage is very simple: as you drink water, be sure to fill it up using these instruments. As soon as you reach 100%, your job for today is done!</p>
    </div>
</div>

<div id="waterSuccess" class="successOverlay" ng-click="removeSuccess()">
    <div class="waterSuccessSign">
        <h3>Success!</h3>
        <p>You`ve completed your daily activity!</p>
    </div>
</div>