<canvas class="snow snowTraining"></canvas>
<div class="navigation">
    <div class="lines">
        <div id="menuBut" ng-click="openMenu()">
            <div id="menuBut1"></div>
            <div id="menuBut2"></div>
            <div id="menuBut3"></div>
        </div>
    </div>
    <div id="blocks" class="blockes">
        <div id="das" class="elem"><a href="#!/dashboard"><div class="navOverlay"><img src="./img/logo-black.png" alt=""></div></a></div>
        <div id="trai" class="elem"><a href="#!/training"><div class="navOverlay"><i class="material-icons md-48">fitness_center</i></div></a></div>
        <div id="not" class="elem"><a href="#!/note"><div class="navOverlay"><i class="material-icons md-48">format_list_numbered</i></div></a></div>
        <div id="foo" class="elem"><a href="#!/food"><div class="navOverlay shine"><i class="material-icons">restaurant</i></div></a></div>
        <div id="wat" class="elem"><a href="#!/water"><div class="navOverlay"><i class="material-icons md-dark md-inactive">local_drink</i></div></a></div>
        <div id="slee" class="elem"><a href="#!/health"><div class="navOverlay"><i class="material-icons md-dark md-inactive">local_hotel</i></div></a></div>
        <div id="set" class="elem"><a href="#!/settings"><div class="navOverlay"><i class="material-icons md-48">settings</i></div></a></div>
    </div>
</div>
<div class="training">
    <div class="overlayTraining">
        <div class="headline">
            <div class="lineTraining"></div>
            <div class = "nameTraining"><i class="material-icons md-48">fitness_center</i><h1>Training</h1></div>
        </div>
        <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-3 buttonTr">
                        <div>
                        <button ng-click="showCardio()" class="trainingBtn" >Cardio</button>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 body">
                        <div class="bodyPic"><img src="./training/img/1.png" alt="" id="bodbase">
                            <div class="bod" id="bodleg"> <img src="./training/img/2.png" alt=""></div>
                            <div  class="bod" id="bodcore"><img src="./training/img/3.png" alt=""></div>
                            <div class="bod" id="bodback"><img src="./training/img/4.png" alt=""></div>
                            <div class="bod" id="bodarms"><img src="./training/img/5.png" alt=""></div>
                        </div>

                        <div class="zone arms" ng-click="showArms()" ng-mouseenter="addArms()" ng-mouseleave="removeArms()"></div>
                        <div class="zone back" ng-click="showBack()" ng-mouseenter="addBack()" ng-mouseleave="removeBack()"></div>
                        <div class="zone core" ng-click="showCore()" ng-mouseenter="addCore()" ng-mouseleave="removeCore()"></div>
                        <div class="zone legs" ng-click="showLegs()" ng-mouseenter="addLegs()" ng-mouseleave="removeLegs()"></div>

                    </div>
                    <div class="col-12 col-md-3 buttonTr">
                        <div class="btntr">
                        <button ng-click="showStretch()" class="trainingBtn">Stretching</button>
                    </div>
                    </div>

                </div>
            <div class="row">
                <div class="col-12">
                <div class="tips" >
                    <div id="tipOne" class="tip tipTraining tipActive">
                        <h3>Tip</h3>
                        <p>Try drinking pure water instead of tea or coffee.</p>
                    </div>
                    <div id="tipTwo" class="tip tipTraining">
                        <h3>Did you know...</h3>
                        <p>The chemical formula for water is H2O?</p>
                    </div>
                    <div id="tipThree" class="tip tipTraining">
                        <h3>Tip</h3>
                        <p>While hydrated, your skin looks radiant!</p>
                    </div>
                    <div id="tipFour" class="tip tipTraining">
                        <h3>Fact:</h3>
                        <p>Water helps you lose weight!</p>
                    </div>
                    <div id="tipFive" class="tip tipTraining">
                        <h3>Fact6:</h3>
                        <p>Eating nuts helps accelerate your brain activity.</p>
                    </div>
                    <div id="tipSix" class="tip tipTraining">
                        <h3>Fact7:</h3>
                        <p>Eating nuts helps accelerate your brain activity.</p>
                    </div>
                    <div id="tipSeven" class="tip tipTraining">
                        <h3>Fact8:</h3>
                        <p>Eating nuts helps accelerate your brain activity.</p>
                    </div>
                </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="helpTraining"><button class="trainingBtn" ng-click="showHelp()">?</button></div>
<div id="helpTrainingPage" class="helpOverlay" ng-click="hideHelp()">
    <div class="helpSign tipTraining">
        <h3>#HelpTraining</h3>
        <p>The usage is very simple: as you drink water, be sure to fill it up using these instruments. As soon as you reach 100%, your job for today is done!</p>
    </div>
</div>

<div id="cardioEx" class="helpOverlay" ng-click="hideCardio()">
    <div class="helpSign tipTraining">
        <h3>Your exercise for today: cardio</h3>
    </div>
</div>
<div id="armsEx" class="helpOverlay" ng-click="hideArms()">
    <div class="helpSign tipTraining">
        <h3>Your exercise for today: arms</h3>
    </div>
</div>
<div id="backEx" class="helpOverlay" ng-click="hideBack()">
    <div class="helpSign tipTraining">
        <h3>Your exercise for today: back</h3>
    </div>
</div>
<div id="legsEx" class="helpOverlay" ng-click="hideLegs()">
    <div class="helpSign tipTraining">
        <h3>Your exercise for today: legs</h3>
    </div>
</div>
<div id="coreEx" class="helpOverlay" ng-click="hideCore()">
    <div class="helpSign tipTraining">
        <h3>Your exercise for today: core</h3>
    </div>
</div>
<div id="stretchEx" class="helpOverlay" ng-click="hideStretch()">
    <div class="helpSign tipTraining">
        <h3>Your exercise for today: stretching</h3>
    </div>
</div>

